*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: auto;
	width: 85%;
}

main {
	border: 2px solid black;
	width: 100%;
}

     /************Navigation**********/

nav	{
	background-color: #75e2e6;
    border-bottom: 2px solid #048eaa;
    height: 65px;
    width: 100%;
}    

ul {
	color: black;
	float: right;
	font-size: 19px;
	font-weight: 600;
	margin-top: 15px;
}

li {
	display: inline;
	margin-right: 20px; 
}

.nav-dog-icon {
	border-radius: 50%;
	height: 46px;
	margin: 8px 0 3px 10px;
}

a {
	color: black;
	text-decoration: none;
}

         /*********Header***********/

header {
	background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("images/park.jpg");
	background-size: cover;
	background-position: center bottom;
	color: white;
	height: 450px;
	text-align: center;
}

h1 {
	font-size: 32px;
	font-weight: 400;
	margin: 0;
	padding-top: 30px;
}

span {
	font-weight: 800;
}

.heading-dog {
	border: 4px solid #048eaa;
	border-radius: 50%;
	height: 190px;
	margin: 15px;
	width: 190px;
}

label {
	border-radius: 3px;
	display: inherit;
	font-size: 17px;
	margin-bottom: 5px;
	margin-right: 308px;
}

input, .button1 {
	height: 43px;
	width: 365px;
}

input {
	border-radius: 2px;
}

.button1 {
	background-color: #75e2e6;
    border-radius: 2px;
	color: black;
    font-size: 16px;
    margin: 10px 0 17px 0;
    text-align: center;
}

     /********Main Container**********/

section	{
	height: 600px;
	width: 100%
}

article {
	float: left;
	font-size: 16px;
	margin-left: 20px;
	width: 31%;
}

h2 {
	font-weight: 900;
	text-align: center;
}		

hr {
	display: none;
}

.how-dog1-image, 
.what-dog2-image, 
.facts-dog3-image {
	border-radius: 50%;
	border: 4px solid #048eaa;
	display: block;
	margin: auto;
	margin-bottom: 10px;
	width: 165px;
}

.how, 
.what, 
.facts {
	font-weight: 600;
	height: 275px;
	margin-bottom: 30px;
	margin: auto;
	width: 250px;
}

.button {
	background-color: #048eaa;
	border: none;
    border-radius: 3px;
    display: block;
    color: #fff;
    font-size: 17px;
	height: 40px;
	margin: auto;
	width: 250px;
}

/********Footer*********/

footer {
	background-color: #048eaa;
	clear: both;
	display: block;
	height: 155px;
	text-align: center;
}

h3 {
	color: white;
	font-weight: 400;
	padding-top: 50px;
}

.twitter, 
.insta, 
.FB, 
.LI {
	height: 35px;
	width: 55px;
}

/*******Media Queries********/

@media screen and (min-width: 1175px) {
  
  main {
  	margin-left: 70px;
    width: 90%;
  }
}

@media screen and (max-width: 800px) {

	article {
	  width: 100%;
	}

	h2 {
	  text-align: center;
	}

	.how-dog1-image, 
	.what-dog2-image, 
	.facts-dog3-image {
	  margin-left: 37%;
	}

	.how, 
	.what, 
	.facts {
	  margin-left: 32%;
    }

	.button {
      margin-left: 32%;
	}
}

@media screen and (max-width: 600px) {
	
	nav {
	  height: 94px;
	}

	.nav-dog-icon {
	  display: block;
	  margin: auto;
	}

	ul {
	  float: none;
	}

	article {
	  width: 80%;
	}

	h2 {
	  margin-left: 53px;
	}

	.button {
	  margin-bottom: 10px;
    }
}	