*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid red;
}
/*
body {
	
	margin: 0;
}*/

main {
	border-bottom: 2px solid black;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}


		/********Navigation********/

nav {
	background-color: #9A969C;
    border-right: 2px solid #3E3544;
    height: 100%;
	position: absolute;
    width: 15%;
}

.nav-dog-icon {
	border-radius: 50%;
	margin: 15px 25px 80px 15px;
	height: 127px;
	width: 127px;
}

ul {
	list-style-type: none;
	padding-left: 10px;
}

li {
	margin-bottom: 35px; 
}

a {
	color: black;
	/*font-size: 18px;
	font-weight: 700;*/
	text-decoration: none;
}

         /******Header********/

header {
	background-color: #3E3544;
	background-size: 902px;
	color: white;
}

form {
	height: 200px;
    margin-left: 55%;
    position: absolute;
    top: 120px;
    width: 30%;
}

h1 {
	font-size: 39px;
    font-weight: 200;
    margin-left: 55%;
    padding-top: 50px;
    position: absolute;
}

span {
	font-weight: 800;
}

.input-name {
	border-radius: 3px;
    height: 50px;
    margin: 10px 0 20px 0;
    width: 400px;
}

label {
	border-radius: 3px;
	margin-bottom: 0 210px 5px 0;
}

.button1 {
	background-color: #9A969C;
	border-radius: 3px;
	color: #3E3544;
    font-size: 16px;
    height: 50px;
	margin-bottom: 0 70px 91px 0;
    text-align: center;
    width: 400px;
}

.heading-dog {
	border-radius: 50%;
    border: 5px solid #9A969C;
    margin: 15px 25px 10px 239px;
    width: 326px;
}

		/********Main Container**********/

.how-dog1-image, 
.what-dog2-image, 
.facts-dog3-image {
	border-radius: 50%;
	border: 5px solid #9A969C;
	height: 181px;
	margin: 62px 25px 40px 50px;
	width: 181px;
}

section {
	height: 100%;
	margin-left: 178px;
}

article {
	display: inline-block;
	width: 100%
}

h2 {
	font-weight: 700;
	padding-left: 68px;
	position: absolute;
	text-align: left;
}

.how, 
.what, 
.facts {
	display: inline;
	font-size: 18px;
	font-weight: 300;
	margin: 64px 70px 148px 10px;
	position: absolute;
}

.button {
	background-color: #3E3544;
	border-radius: 3px;
	color: #ffffff;
	float: right;
	font-size: 16px;
	height: 40px;
    margin: auto;
    /*position*/: absolute;
    text-align: center;
    width: 150px;
}

hr {
  width: 83%;
  margin-left: 19%;
  margin-bottom: 26px;
  margin-top: 40px;
}

/********Footer*********/

.footer {
	color: white;
	background-color: #3E3544;
	height: 15rem;
}

h3 {
	font-size: 25px;
    font-weight: 700;
    margin-left: 67%;
    margin-top: 30px;
    position: absolute;
}

.SM-links {
	display: block;
    height: 150px;
    margin-left: 89%;
    margin: 30px;
    width: 125px;
}

.twitter, 
.insta, 
.FB, 
.LI {
	border: none;
	float: right;
	margin: 8px;
	width: 41px;
}